body {
  font-family: Arial, sans-serif;
  background: #ece5dd;
  margin: 0;
}
#login, #chat {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}
header {
  background: #075e54;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}
#messages {
  height: 300px;
  overflow-y: auto;
  margin: 10px 0;
  background: #f0f0f0;
  padding: 10px;
}
.msg {
  margin-bottom: 8px;
}
.msg span {
  font-weight: bold;
}